.name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}
.mobile,
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
